
* {
  box-sizing: border-box;
} 

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(7, 82, 60);
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
}

:root {
  --joint: 24px;
}
/* 
div {
  border: 1px solid white;
} */

/* .waist {
  margin-bottom: 70px;
} */

.body {
  width: 80px;
  height: 60px;
  /* border: 1px solid yellow; */
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-50px + var(--joint)));
  background-color: #001147;
}

.bunny {
  border: yellow 1px solid;
  width: 300px;
  height: 300px;
}


.bunny div:not(.joint) {
  position: absolute;
}

/* .test-joint {
  transform: rotate(-45deg);
} */

.joint {
  position: relative;
  width: var(--joint);
  height: var(--joint);
  border-radius: 50%;
  /* border: 1px solid rgba(186, 238, 255, 0.259); */
  /* background-color: #fff94535; */
  transition: 0.5s;
}

.joint:has(.neck) {
  /* background-color: yellow; */
  /* display: flex; */
}

.bunny *{
  background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m)) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;
  --m: 10;
}

.head {
  /* width: 140px;
  height: 100px; */
  --w: 14px;
  --h: 9px;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  left: 50%;
  transform: translate(-50%, -70px);
  border: 1px solid rgb(154, 154, 239);
  display: flex;
  justify-content: center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAYAAAACTR1pAAAAAXNSR0IArs4c6QAAAD5JREFUKFNjZIABQff/cDY+xvudjCBpMMFArCaYge93MlKgkVTboLYykuzMAdRIUajC49IDf1y+3wGJBSAAAG2rFGbEPcy4AAAAAElFTkSuQmCC);
}

.face {
  border: 1px solid red;
  --w: 14px;
  --h: 9px;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  display: flex;
}

.eyes {
  border: 1px solid blue;
  --w: 14px;
  --h: 3px;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  top: 18px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.eye {
  position: relative !important;
  border: 1px solid yellow;
  --w: 3px;
  --h: 3px;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
}

.mouth {
  border: 1px solid yellow;
  --w: 4px;
  --h: 3px;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  bottom: 10px;
  transform: translateX(-50%);
  left: 50%;
}

.ears {
  --w: 8px;
  width: calc(var(--w) * var(--m));
  display: flex;
  justify-content: space-between;
  /* border: 1px solid white; */
  --joint: 10px; /* may need to adjust oncw border us o*/
}

.ear {
  --w: 5px;
  --h: 9px;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  /* border: 1px solid rgba(255, 255, 0, 0.32); */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAJCAYAAAD6reaeAAAAAXNSR0IArs4c6QAAACdJREFUGFdjZIABQff/DO93MoK4YIIBJAAD73cyMqIIQCXoKIjFSQDTSxEUe5lwKAAAAABJRU5ErkJggg==);
}

.neck {
  /* border: 1px solid rgb(245, 148, 83); */
  width: var(--joint);
  height: 34px;
  bottom: 0;
}

.upper-body {
  width: calc(100% + var(--joint));
  left: calc(var(--joint) / -2);
}

.upper-body {
  width: calc(100% + var(--joint) * 1.4);
  left: calc(var(--joint) * -0.7);
}

.upper-body,
.waist {
  height: var(--joint);
  /* border: 1px solid rgb(112, 247, 121); */
  display: flex;
  justify-content: space-between;
}

.upper-arm,
.lower-arm {
  /* height: 40px; */
  /* border: 1px solid rgb(83, 180, 245); */
  display: flex;
  align-items: end;
  --w: 6px;
  --h: 10px;
  --m: 4;
  width: var(--joint);
  height: calc(var(--h) * var(--m));
}

.upper-arm {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAYAAACXDi8zAAAAAXNSR0IArs4c6QAAAChJREFUGFdjZAABQY//YBoG3u9gZMQQhEoOsARO5+KVQJZ8v4MRxAUA+nUUG5z4VnQAAAAASUVORK5CYII=);
}

.lower-arm {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAYAAACXDi8zAAAAAXNSR0IArs4c6QAAAC1JREFUGFdjZIABQY//YOb7HYwgCkwwwARhit7vYMQjga4aqosRwxi6SuDwBwDrcxQbi+j4aAAAAABJRU5ErkJggg==);
}

.waist {
  --w: 20px;
  --h: 6px;
  --m: 4;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAGCAYAAADDl76dAAAAAXNSR0IArs4c6QAAACZJREFUKFNjZBD0+M9ARcA4Eg0EhR+1wvH9DkZGeHxQauj7HWCzAF4qC2fF8n2/AAAAAElFTkSuQmCC);
  bottom: 20px; /* maybe adjust this to walk ?*/
}


.belly {
  width: 80px;
  height: var(--joint);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: rgba(255, 192, 203, 0.354); */
  display: flex;
  justify-content: center;
}

.waist {
  height: var(--joint);
  width: 80px;
  /* background-color: rgba(92, 183, 208, 0.275); */
  left: 50%;
  transform: translateX(-50%);
}

.lower-spine {
  width: var(--joint);
  height: calc(var(--joint) * 2);
  /* background-color: #ffffff9e; */
  bottom: 0;
}

.leg {
  /* position: absolute; */
  top: 0;
  /* border: 1px solid rgb(83, 180, 245); */
  --w: 6px;
  --h: 11px;
  --m: 4;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAALCAYAAABcUvyWAAAAAXNSR0IArs4c6QAAACRJREFUKFNjZBD0+M+ABTAOGwmQ59A9+X4HIyPc0zDJ9zvAYgCi/xIkw7C2FQAAAABJRU5ErkJggg==);
}





/* background */

.ground {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100px;
  background-color: rgb(0, 128, 119);
}

.sign {
  position: absolute;
  color: #fff945;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: #fff945;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.indicator {
  position: fixed;
  top: 10px;
  left: 10px;
  color: #fff945;
}

.buttons {
  position: absolute;
  top: 0;
  width: 100%;
}

.buttons button {
  margin: 8px;
}