
* {
  box-sizing: border-box;
} 

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(23, 184, 139);
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid hotpink;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: white;
  font-size: 40px;
  transition: 1s;
  --x: 15px;
  --y: 15px;
}

.small-box {
  position: absolute;
  background-color: red;
  width: 20px;
  height: 20px;
  transition: 1s;
  transform: translate(var(--x), var(--y));
}

.b {
  background-color: rgb(25, 0, 255);
  width: 20px;
  height: 20px;
  transition: 1s;
  transform: translate(var(--x), var(--y));
}

.up {
  --y: 0px;
}

.right {
  --x: 30px; 
}

.down {
  --y: 30px;
}

.left {
  --x: 0px;
}



.up .b {
  --y: 30px;
}

.right .b {
  --x: 0px; 
}

.down .b {
  --y: 0px;
}

.left .b {
  --x: 30px;
}


.sign {
  position: absolute;
  color: #fff945;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: #fff945;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.indicator {
  position: fixed;
  top: 10px;
  left: 10px;
  color: #fff945;
}

.d-none {
  display: none;
}

.indicator {
  position: fixed;
  top: 10px;
  right: 10px;
}


.marker {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: -5px;
  margin-left: -5px;
  z-index: 100;
  transition: 1s;
}

.red { 
  background-color: rgb(223, 74, 41); 
}
.blue { 
  background-color: rgb(140, 238, 250); 
}
.yellow {
  background-color: yellow; 
}

.pink {
  background-color: pink; 
  opacity: 0.5;
}
