
* {
  box-sizing: border-box;
} 

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(23, 184, 139);
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}


.duck,
.duckling,
.duck div,
.duckling div,
.duck div:after,
.duckling div:after {
  background-size: calc(var(--w) * 2px) calc(var(--h) * 2px) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;
}

.duck {
  position: absolute;
  transition: 1s;
  --w: 20;
  --h: 14; 
  width: calc(var(--w) * 2px);
  height: calc(var(--h) * 2px);
}

.duck-body {
  position: absolute;
  width: calc(var(--w) * 2px);
  height: calc(var(--h) * 2px);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOCAYAAAAvxDzwAAAAAXNSR0IArs4c6QAAAFRJREFUOE9jZMAC/v///x+bOLoYIyMjI4YYsgCxBuEzGG4DuYbBDIe5FmwgpYYhG0p9A6nlOrgrR6CBgz+WYbFDaeSgJGxKDUXO0xiZm5QwxVY4AADV9Tf/s/CuJAAAAABJRU5ErkJggg==);
}

.duck-neck-base {
  position: absolute;
  /* border: 1px solid blue; */
  width: 16px;
  height: 16px;
  transition: 0.3s;
  transform: translate(var(--x), var(--y));
  --x: 12px;
  --y: 4px;
  z-index: 2;
}


.up .duck-neck-base{
  --y: 0px;
}

.right .duck-neck-base{
  --x: 17px; 
}

.down .duck-neck-base{
  --y: 6px;
}

.left .duck-neck-base{
  --x: 4px;
}


.duck-tail {
  position: absolute;
  --w: 6;
  --h: 7;
  width: calc(var(--w) * 2px);
  height: calc(var(--h) * 2px);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAHCAYAAAArkDztAAAAAXNSR0IArs4c6QAAAC1JREFUGFdjZICC/////wcxGRkZGcE0iIAJwhSBJHFLoKuG68IpgdcOZEmYvQA6WRwAeFIlLwAAAABJRU5ErkJggg==);
  /* border: 1px solid red; */
  transition: 1s;
  transform: translate(var(--x), var(--y));
  --x: 14px;
  --y: -8px;
  z-index: -10;
}

.up .duck-tail {
  --y: -4px;
  /* border: 1px solid blue; */
}

.right .duck-tail {
  --x: 0px; 
}

.down .duck-tail {
  --y: -8px;
}

.left .duck-tail {
  --x: 28px;
}


.duck-neck {
  position: absolute;
  /* border: rgb(217, 0, 255) 1px solid; */
  /* background-color: white; */
  background-color: white;
  width: 16px;
  height: 16px;
  transition: 0.8s;
  bottom: 0;
}

/* .waddle .duck-neck {
  height: 18px;
} */


.duck-head {
  position: absolute;
  /* border: rgb(0, 255, 229) 1px solid; */
  --w: 18;
  --h: 14; 
  width: calc(var(--w) * 2px);
  height: calc(var(--h) * 2px);
  margin-top: calc(var(--h) * -2px + 4px);
  margin-left: calc(var(--w) * -0.5px);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAAXNSR0IArs4c6QAAAERJREFUOE9jZEAD/////48uhsxnZGRkROHDOIQ0ohsKMwhsGqmaYYaBDGEkVzPckFEDGCgPRIqjkSoJCTmVEYpW9KQMAM+9L/Xc3EboAAAAAElFTkSuQmCC);
  /* background-color: red; */
}

.down.left .duck-head,
.down.right .duck-head {
  --w: 18;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAYAAAAi2ky3AAAAAXNSR0IArs4c6QAAAIZJREFUOE9jZMAB/v///x+XHEickZGREVkehQOSIGQAuuEwA1EMItUQmKEgw+AGkWsI3DAYY3AalGUqwTDt9AuckYVPHiWMqGYQvnRDSA7uoj8norAmQGbzpYTMACdOsEG4DIGZgM8weIIkZAguw7BmEUKGsVgsw8hKGFkFJoDLMGIMAZkBAMw7Q/doX4nxAAAAAElFTkSuQmCC);
  margin-left: -12px;
}

.up.left .duck-head,
.up.right .duck-head {
  --w: 18;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAYAAAAi2ky3AAAAAXNSR0IArs4c6QAAAHJJREFUOE9jZICCPyei/sPYyDSLxTJGbOLoYmBFuAyBKSbGMEZshjCbLyXoCEZGRhSXYriIGEOQbYEZCDcV5DJSDYEZCDIMbtD///+xBjZBP0IVjBpEOKSoH0YgO8mNOZTohzmeVMMwEiR6KBAyED2LAADvVzf3c6EKwQAAAABJRU5ErkJggg==);
  margin-left: -12px;
}

.down .duck-head {
  --w: 16;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAYAAAAmL5yKAAAAAXNSR0IArs4c6QAAAIhJREFUOE9jZEAD/////48uhsxnZGRkROHDOIQ0ohsKMwhsGqmaYYaBDGEkVzPckMFlQJapBMO00y/wRQIDuhqUMKDYALxW45DEGo1/T0ZjVc5svhRFHByN6AkJl2aYOpghKAkJJvnnRBTeZAxTx2KxDG4xSroGKSBkCLJmkHoMA/AZgq4ZpBYAuRxJ96lyL4MAAAAASUVORK5CYII=);
  margin-left: -8px;
}

.up .duck-head {
  --w: 16;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAYAAAAmL5yKAAAAAXNSR0IArs4c6QAAAGlJREFUOE9jZMAC/pyI+o9NnMViGSO6OIYALs0wjeiGoBgA0sxsvhSb5XCxvyejGZANgRvw//9/rM7GZRojIyNYL5ggVTPMUJAhjORqhhsyagAD5YFIcTTCooPU2EBJSMipjZBBMI0wPQAGdjr3NNfLrgAAAABJRU5ErkJggg==);
  margin-left: -8px;
}

.left .duck-head,
.right .duck-head {
  --h: 14;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAYAAAAi2ky3AAAAAXNSR0IArs4c6QAAAH5JREFUOE9jZMAB/v///x+XHEickZGREVkehQOSIGQAuuEwA1EMItUQmKEgw+AGkWsI3DAYg24GZZlKMEw7/QJn+BPtNaIN+nMiCmt0M5svxZcK4HJgF+EyBKaKGMMYCRlCjGHw6CdkGD4XYSRIUsOIYBYhKmSxKMLIa+QaBAATkDX3yAijpQAAAABJRU5ErkJggg==);
  margin-left: -8px;
}

.right .duck-head {
  transform: scale(-1, 1);
  margin-left: -8px !important;
}

.duck-head .eyes {
  position: absolute;
  /* border: 1px solid red; */
  --eye-w: 24px;
  left: calc((var(--w) * 2px - var(--eye-w)) / 2);
  top: 10px;
  width: var(--eye-w);
  /* height: 10px; */
  display: flex;
  justify-content: space-between;
  transition: 0.5s top left;
  overflow: hidden;
}

.eye {
  background-color: rgb(133, 42, 6);
  width: 3px;
  height: 6px;
}

.up .eyes {
  display: none;
}
/* 
.up.right .eye {
  left: 100px;
} */
/* 
.left .eyes {
  left: 0;
} 


.right .eyes {
  left: calc((var(--w) * 2px) - var(--eye-w));
} 



.down .eyes {
  top: 10px;
} */



.duck-head .beak {
  position: absolute;
  --w: 10;
  --h: 5;
  width: calc(var(--w) * 2px);
  height: calc(var(--h) * 2px);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAAAXNSR0IArs4c6QAAACtJREFUGFdjZICCPyei/sPYyDSLxTJGEB9M4FIE0wBSzEhIEUwx8SYS60YAP7UTI/Omy/EAAAAASUVORK5CYII=);
  transition: 0.7s;
}

.duck .legs {
  position: absolute;
  /* border: 1px solid aqua; */
  width: 24px;
  height: 14px;
  display: flex;
  justify-content: space-between;
  left: 8px;
  bottom: -8px;
  z-index: -1;
  transition: 1s;
}

.duck .leg {
  position: relative;
  background-color: #ffdd45;
  height: 14px;
  width: 2px;
}


.leg:after {
  position: absolute;
  content: '';
  height: 7px;
  width: 4px;
  background-color: #ffdd45;
  left: -1px;
  bottom: 0px;
  transform-origin: bottom center;
  transform: rotate(var(--angle));
  --angle: 180deg;
}

.up .leg:after {
  --angle: 0deg;
}

.up.right .leg:after{
  --angle: 45deg;
}

.right .leg:after {
  --angle: 90deg;
}

.down.right .leg:after {
  --angle: 135deg;
}

.down .leg:after {
  --angle: 180deg;
}

.down.left .leg:after {
  --angle: 225deg;
}

.left .leg:after {
  --angle: 270deg;
}

.up.left .leg:after {
  --angle: 315deg;
}

.duck.waddle .leg {
  animation: waddle 0.3s infinite;
}

.leg:nth-child(1) {
  --one: 14px;
  --two: 9px;
}

.leg:nth-child(2) {
  --one: 9px;
  --two: 14px;
}

@keyframes waddle {
  0%, 100% {
    height: var(--one);
  }
  50% {
    height: var(--two);
  }
}

/* .up .legs {
  z-index: -1;
} */

.duck.left .legs,
.duck.right .legs {
  width: 20px;
  left: 10px;
}

.duckling-target {
  position: absolute;
  background-color: #fff945;
  width: 12px;
  height: 12px;
  transition: 1.8s;
}

.duckling {
  position: absolute;
  background: rgb(234, 7, 192);

  width: 30px;
  height: 30px;
  color: white;
  transition: 0.5s;
}


/* */

.sign {
  position: absolute;
  color: #fff945;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: #fff945;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.indicator {
  position: fixed;
  top: 10px;
  left: 10px;
  color: #fff945;
}

.d-none {
  display: none;
}

.indicator {
  position: fixed;
  top: 10px;
  right: 10px;
}


.marker {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: -5px;
  margin-left: -5px;
  z-index: 100;
  transition: 0.1s;
}



/* 
.red { 
  background-color: rgb(223, 74, 41); 
}
.blue { 
  background-color: rgb(140, 238, 250); 
}
.yellow {
  background-color: yellow; 
}
.pink {
  background-color: hotpink; 
}
.green { 
  background-color: rgb(88, 236, 127); 
}
.purple {
  background-color: purple; 
}

 */
