
* {
  box-sizing: border-box;
} 

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(23, 184, 139);
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* .box {
  width: 50px;
  height: 50px;
  border: 1px solid hotpink;
  color: white;
  font-size: 40px;
  transition: 1s;
  --x: 15px;
  --y: 15px;
} */

.box {
  border: 1px solid hotpink;
  transition: 1s;
  /* --x: 15px;
  --y: 15px; */

  --w: 20;
  --h: 14; 
  background-size: calc(var(--w) * 2px) calc(var(--h) * 2px) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;

  width: calc(var(--w) * 2px);
  height: calc(var(--h) * 2px);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOCAYAAAAvxDzwAAAAAXNSR0IArs4c6QAAAFRJREFUOE9jZMAC/v///x+bOLoYIyMjI4YYsgCxBuEzGG4DuYbBDIe5FmwgpYYhG0p9A6nlOrgrR6CBgz+WYbFDaeSgJGxKDUXO0xiZm5QwxVY4AADV9Tf/s/CuJAAAAABJRU5ErkJggg==);
}


.small-box {
  position: absolute;
  border: 1px solid blue;
  width: 20px;
  height: 20px;
  transition: 1s;
  transform: translate(var(--x), var(--y));
  --x: 10px;
  --y: 4px;
}

/* .b {
  background-color: rgb(25, 0, 255);
  width: 20px;
  height: 20px;
  transition: 1s;
  transform: translate(var(--x), var(--y));
} */

.b {
  background-size: calc(var(--w) * 2px) calc(var(--h) * 2px) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;

  position: absolute;
  --w: 6;
  --h: 7;
  width: calc(var(--w) * 2px);
  height: calc(var(--h) * 2px);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAHCAYAAAArkDztAAAAAXNSR0IArs4c6QAAAC1JREFUGFdjZICC/////wcxGRkZGcE0iIAJwhSBJHFLoKuG68IpgdcOZEmYvQA6WRwAeFIlLwAAAABJRU5ErkJggg==);
  border: 1px solid red;
  z-index: 2;
  transition: 1s;
  transform: translate(var(--x), var(--y));
  --x: 14px;
  --y: 7px;

}

.up .small-box{
  --y: 0px;
}

.right .small-box{
  --x: 20px; 
}

.down .small-box{
  --y: 8px;
}

.left .small-box{
  --x: 0px;
}



.up .b {
  --y: 14px;
}

.right .b {
  --x: 0px; 
}

.down .b {
  --y: 0px;
}

.left .b {
  --x: 28px;
}


.sign {
  position: absolute;
  color: #fff945;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: #fff945;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.indicator {
  position: fixed;
  top: 10px;
  left: 10px;
  color: #fff945;
}

.d-none {
  display: none;
}

.indicator {
  position: fixed;
  top: 10px;
  right: 10px;
}


.marker {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: -5px;
  margin-left: -5px;
  z-index: 100;
  transition: 0.1s;
}

.red { 
  background-color: rgb(223, 74, 41); 
}
.blue { 
  background-color: rgb(140, 238, 250); 
}
.yellow {
  background-color: yellow; 
}

.pink {
  background-color: hotpink; 
  /* opacity: 0.5; */
}


.green { 
  background-color: rgb(88, 236, 127); 
}
.purple {
  background-color: purple; 
}