
* {
  box-sizing: border-box;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(255, 54, 54);
  overscroll-behavior: contain;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pix {
  background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m)) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;
}

.gacha-machine {
  position: relative;
  /* border: 4px solid black; */
  width: 320px;
  height: 500px; 
  /* width: 100%;
  height: 100%; */
  --m: 4;
  --w: 80px;
  --h: 125px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAB9CAYAAAA1I+RFAAAAAXNSR0IArs4c6QAAAchJREFUeF7t08Ftg0AARcFsPS7QNbhA10O0SGuR2Ipw3tHDgcOKx2H4jK8X13a/bq/OP/1sXG7jt8GPA3DnJnKEfADCO4e3nlqIOyC89/COiAD/Z7dXc4XD+oLgRAQIsAnE2gIBRoGYWyDAKBBzCwQYBWJugQCjQMwtEGAUiLkFAowCMbdAgFEg5hYIMArE3AIBRoGYWyDAKBBzCwQYBWJugQCjQMwtEGAUiLkFAowCMbdAgFEg5hYIMArE3AIBRoGYWyDAKBBzCwQYBWJugQCjQMwtEGAUiLkFAowCMbdAgFEg5hYIMArE3AIBRoGYWyDAKBBzCwQYBWJugQCjQMwtEGAUiLkFAowCMbdAgFEg5hYIMArE3AIBRoGYWyDAKBBzCwQYBWJugQCjQMwtEGAUiLkFAowCMbdAgFEg5hYIMArE3AIBRoGYWyDAKBBzCwQYBWJugQCjQMwtEGAUiLkFAowCMbdAgFEg5hYIMArE3AIBRoGYWyDAKBBzCwQYBWJugQCjQMwtEGAUiLkFAowCMbdAgFEg5hYIMArEfMx+u1+3+J6PzMflNgCGT/8AtML3FSferPbbuvzK5yAX3hMgyL8Bj3DryW9l1KLLccC7FgAAAABJRU5ErkJggg==);
}

.gacha-machine::after {
  position: absolute;
  content: '';
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m)) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAB9CAYAAAA1I+RFAAAAAXNSR0IArs4c6QAAAgtJREFUeF7t3cFOg1AARUH5/4+ugYRalZQHh1WZLimXpONBjJtOXxuvx+Px2Dp+92PTNE1/DX4dWOG2Trw73vz5t3yegPOb4MYyebVaAOGNwb2etZoBPG63LJ6A6jspuCICBHheIC6X+BR4XhHgebufB4kCzysq8LydAqMdQIBXCMRr+B0IMArEuQIBRoE4VyDAKBDnCgQYBeJcgQCjQJwrEGAUiHMFAowCca5AgFEgzhUIMArEuQIBRoE4VyDAKBDnCgQYBeJcgQCjQJwrEGAUiHMFAowCca5AgFEgzhUIMArEuQIBRoE4VyDAKBDnCgQYBeJcgQCjQJwrEGAUiHMFAowCca5AgFEgzhUIMArEuQIBRoE4VyDAKBDnCgQYBeJcgQCjQJwrEGAUiHMFAowCca5AgFEgzhUIMArEuQIBRoE4VyDAKBDnCgQYBeJcgQCjQJwrEGAUiHMFAowCca5AgFEgzhV4FWC8zq3nyxfz3UVg7+t/z1jcAnAP7m9ARyA/HvAo3oo5ivjRgGfxjiB+LGDFG0UEuPME3buVPxLwqvpGKgQ48DfcuwoBAvwv4BYeqOLdKQABRoE4VyDAKBDnCgQYBeJcgQCjQJwrEGAUiHMFRsB5fhXiLf8feIH/8CWm+cw95eGr3ezEuXKA4Yf+BFThccU1vqXA9eVWHoN8fUD9AgT5HnDryf4NTFrG3w9XUD4AAAAASUVORK5CYII=);
  pointer-events: none;
  z-index: 1;
  opacity: 0.2;
}

.gacha-machine div:not(.cover):not(.circle):not(.marker) {
  z-index: 0 !important;
}

.capsule {
  position: absolute;
  --m: 4;
  --w: 16px;
  --h: 16px;
  --offset: -2;
  width: 0;
  height: 0;
  transition: 0.05s;
}

.capsule::after {
  position: absolute;
  content: '';
  background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m)) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGRJREFUOE9jZMAE/7GIIQsx4uLANKIowGMBWB1MMUgzIY3oZoH1gDSRoxlm2P9RAxjgYUAg6nFLgwPx4TZJsgyQ93oOjvthYADI/yR7A+R/WFKGJ0sQg1CAQjXC8xG2DERSdgYAL7spB3kjk2oAAAAASUVORK5CYII=);
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  left: calc((var(--w) * var(--m)) / var(--offset));
  top: calc((var(--h) * var(--m)) / var(--offset));
}



.d-none {
  display: none;
}


.line-start,
.line-end {
  position: absolute;
  height: 0;
  width: 0;
  /* border-radius: 50%;
  height: 4px;
  width: 4px;
  background-color: red; */
}

/* .line-end {
  height: 4px;
  width: 4px;
  background-color: green;
} */

.line {
  position: absolute;
  height: 1px;
  width: 0;
  border-top: solid rgb(255, 54, 54) 4px;
}

/* .marker {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(0, 4, 255);
  width: 10px;
  height: 10px;
  margin: -5px -5px 0 0 ;
  z-index: 50;
} */



.circle {
  position: absolute;
  bottom: 30px;
  left: 35px;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  z-index: 2;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAARNJREFUWEft2UsOwiAQBuDBldeSpRdSTyDxQu7suVzVlAAplMfwCI+IOyOkX/6BQEcCGZ/18lwx08nyIJhxtjHREzXU5457LmVqXCwWDVQwLMpFF1gsNAgsBjPBSKgXyHG5iYUWAWXgS9MJrIKTeA/SCqyKCyAPwCY4D1IDNsU5kOMAu0hPpPi9vuD8vvHwVII9AWG3qzmwK5yxFicwdJA4fxdlJl2Wd1/mCUyuMQDfzTPBmWBOArlz5xr8iwTnZSG1zPIsHiLB7pDmhXUIYDdI4yV+nLc6udma3m4sLZDxWh9NkoxtHlVFprbfNOT2pXSfkDLYGtynQP862GEtDkV2VuVz0cADNCbVGk1025lf42+IH6L04eVqmnG3AAAAAElFTkSuQmCC);
  --w: 40px;
  --h: 40px;
  --m: 4;
  opacity: 0.3;
}

.circle::after {
  position: absolute;
  top: -10px;
  right: -22px;
  content: '';
  --w: 15px;
  --h: 15px;
  --m: 4;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAGVJREFUOE9j/OvY/p8BCTDvr2RE5uNjM6JrhikmxhAUW7AZhM8QrE4k1it4/YdsCDYXEAwcfAYQ1AwKQJgB6LaTpBlkELIBRGnGZTvJmpFtJ1ozNttprxlXEibaZmypjmjN2PwMAE+eOtQ6CKTJAAAAAElFTkSuQmCC);
  background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m)) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;
}

.handle {
  position: relative;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.handle::after {
  position: absolute;
  top: -7px;
  content: '';
  --w: 40px;
  --h: 16px;
  --m: 4;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAQCAYAAABk1z2tAAAAAXNSR0IArs4c6QAAAINJREFUSEvtltEJwCAMBZPR6lTtBHWqdjQL/pVG8kiiVNBPhedxhkSmgFW2s0gxfB/sjTcFfICuXeZI+bVvAYYAYSBNlwFYBAwDCgCugMOADMBc4Vo1pAX2Pk+ZFqBL8jLo0kdEUxj8fZuRXmFYXwQmy5yjTqtt2DBgSLsLMqiF9PxuPb3MVLWSWj9IAAAAAElFTkSuQmCC);
  background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m)) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;
}


.shake {
  position: absolute;
  left: 20px;
  bottom: 50px;
}

.cover {
  position: absolute;
  bottom: 116px;
  width: 100%;
  height: calc(220px - 116px);
  background-color: white;
  z-index: 1;
  opacity: 0.2;
}

.release {
  position: absolute;
  top: 20px;
  right: 20px;
}


.sign {
  position: absolute;
  color: white;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.indicator {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
}