
* {
  box-sizing: border-box;
} 

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(230, 230, 230);
  --blue: rgb(50, 50, 97);
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

:root {
  --m: 24px;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
  border: 1px solid var(--blue);
}

.avatar {
  position: absolute;
  border: 1px solid red;
  --w: 100px;
  --h: 90px;
  width: var(--w);
  height: var(--h);
}

.avatar div {
  position: absolute;
}

.joint {
  width: 0;
  height: 0;
  border: 1px solid blue;
}

.joint.head-joint {
  left: calc(var(--w) / 2);
  top: 40px;
}

.head {
  border: 1px solid red;
  width: 60px;
  height: 40px;
  left: -30px;
  top: -40px;
}

.joint.ear-left-joint {
  top: 0;
  left: 10px;
}

.joint.ear-right-joint {
  top: 0;
  right: 10px;
}

.ear-left,
.ear-right {
  width: 16px;
  height: 16px;
  border: 1px solid red;
  left: -8px;
  top: -16px;
}

.body-joint {
  left: calc(var(--w) / 2);
  top: 55px;
}

.body {
  border: 1px solid red;
  width: 40px;
  height: 30px;
  top: -15px;
  left: -20px;
}

.arm-left-joint {
  top: 5px;
  left: 0;
}

.arm-right-joint {
  top: 5px;
  right: 0;
}

.arm-left {
  border: 1px solid red;
  width: 16px;
  height: 16px;
  left: -16px;
  top: -8px;
}

.arm-right {
  border: 1px solid red;
  width: 16px;
  height: 16px;
  right: -16px;
  top: -8px;
}

.leg-left-joint {
  bottom: 0;
  left: 5px;
}

.leg-right-joint {
  bottom: 0;
  right: 5px;
}

.leg-left {
  border: 1px solid red;
  width: 16px;
  height: 12px;
  left: -8px;
  top: 0;
}

.leg-right {
  border: 1px solid red;
  width: 16px;
  height: 12px;
  left: -8px;
  top: 0px;
}

.foot-left-joint {
  bottom: 0;
  left: 8px;
}

.foot-right-joint {
  bottom: 0;
  right: 8px;
}

.foot-left {
  border: 1px solid red;
  width: 16px;
  height: 8px;
  left: -8px;
}

.foot-right {
  border: 1px solid red;
  width: 16px;
  height: 8px;
  right: -8px;
}

.eyes {
  top: 8px;
  width: 100%;
  height: 12px;
  border: 1px solid red;
}

.eye-left,
.eye-right {
  border: 1px solid red;
  width: 12px;
  height: 12px;
}

.eye-left {
  left: 4px;
}

.eye-right {
  right: 4px;
}

.mouth-joint {
  bottom: 8px;
  left: 30px;
}

.mouth {
  border: 1px solid red;
  width: 30px;
  height: 10px;
  left: -15px;
  top: -5px;
}

.sign {
  position: absolute;
  color: #9e9e9e;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: #9e9e9e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.indicator {
  position: fixed;
  top: 10px;
  left: 10px;
  color: #9e9e9e;
}

.buttons {
  position: absolute;
  top: 50px;
  width: 100%;
}

.buttons button {
  margin: 8px;
}