
* {
  box-sizing: border-box;
} 

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
  --blue: rgb(50, 50, 97);
  --yellow: #ffd505;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

:root {
  --m: 24px;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: calc(100vh - 100px);
  max-height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
  border: 1px solid var(--blue);
}

.avatar {
  position: absolute;
  border: 1px solid red;
  --m: 4;
  --w: 50px;
  --h: 45px;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
}

.avatar div {
  position: absolute;

  background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m)) !important; 
  background-repeat: no-repeat !important;
  image-rendering: pixelated;
  --m: 4;
}

.joint {
  width: 0;
  height: 0;
  border: 1px solid transparent;
}

.joint.head-joint {
  left: calc(var(--w) / 2);
  top: 40px;
}

.head {
  /* border: 1px solid red; */
  --w: 30px;
  --h: 20px;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  left: calc(var(--w) * 0.5);
  top: calc(var(--h) * -1);
}

.head::after {
  position: absolute;
  content: '';

  /* --w: 30px;
  --h: 20px; */
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  background-size: 
    calc(var(--w) * var(--m))
    calc(var(--h) * var(--m));
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAYAAACaq43EAAAAAXNSR0IArs4c6QAAAJFJREFUSEtjZMAC/l9l/Y9NnFwxRu3fjOh6UQSobSGGZUgOgFtMa0thjoD5HmwxvSxFtnzgLKa3b+G+RrcYPQWS6zBC5jAiG4wt2ZOTBogxZ9RijBJmNKiJKa9JTlwgQwllA2IsJsYclFRNrKHUUDdwRSY5qZZSH4Oic2CrRZgPyC2XiQ0B5IRLlQKDkMXYshcAWiyEhYUyddIAAAAASUVORK5CYII=);
}

/*
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAYAAACaq43EAAAAAXNSR0IArs4c6QAAAFBJREFUSEtjZEAC/f39/5H51GYXFhYywswEM2htIboHQA5gpLelcB+PWkztBIXLvNE4pldIM4wG9WhQ0ywERhMXzYIW3eCBC+oBawgMVNMHAMmWOtWu5GXeAAAAAElFTkSuQmCC


*/

.joint.ear-left-joint {
  top: 0;
  left: calc(var(--m) * 5px);
}

.joint.ear-right-joint {
  top: 0;
  right: calc(var(--m) * 8px);
}

.ear-left,
.ear-right {
  /** the size isn't quite right */
  --w: 8px;
  --h: 16px;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  /* border: 1px solid red; */
  left: calc(var(--w) * -1);
  top: calc(var(--h) * var(--m) * -1);

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAAAAXNSR0IArs4c6QAAAE5JREFUSEtjZEAD/6+y/kcXQ+Yzav9mROHDOIQ0ohsKMwhsGqmaYYaBDGEkVzPckFEDGEYDkWE0DBhGwwBUJozmhdEwGCTpgOK6kdLaGQB2DWDp+uqYcwAAAABJRU5ErkJggg==);

}

.body-joint {
  left: calc(var(--w) / 2);
  top: 110px;
}

.body {
  /* border: 1px solid red; */
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  left: calc(9px * var(--m));
  top: calc(var(--h) * -1);

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAPCAYAAADkmO9VAAAAAXNSR0IArs4c6QAAADVJREFUOE9j7O/v/89ARcA4aiDFoTkahhQHIcNoGFIhDEFGUCs/FxYWMjIiu4lcg0EGwcwBAIigKsxQEdGLAAAAAElFTkSuQmCC);
  --w: 20px;
  --h: 15px;
}

.arm-left-joint {
  top: 10px;
  left: 0;
}

.arm-right-joint {
  top: 10px;
  right: 0;
}

.arm-left {
  /* border: 1px solid red; */
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  /* left: -20px;
  top: -8px; */
  left: calc(-10px * var(--m));
  top: calc(var(--h) * -1);

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAAAXNSR0IArs4c6QAAAC9JREFUKFNjZICC/1dZ/8PY2GhG7d+MIHEwQUgxzACQJkZiFcM1DUINJHua1GAFAFSWG2nAeA3DAAAAAElFTkSuQmCC);
  --w: 12px;
  --h: 8px;
}

.arm-right {
  /* border: 1px solid red; */
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  right: calc(-10px * var(--m));
  top: calc(var(--h) * -1);

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAAAXNSR0IArs4c6QAAAC9JREFUKFNjZICC/1dZ/8PY2GhG7d+MIHEwQUgxzACQJkZiFcM1DUINJHua1GAFAFSWG2nAeA3DAAAAAElFTkSuQmCC);
  --w: 12px;
  --h: 8px;
}

.leg-left-joint {
  bottom: 0;
  left: 10px;
}

.leg-right-joint {
  bottom: 0;
  right: 10px;
}

.leg-left {
  /* border: 1px solid red; */
  --w: 7px;
  --h: 6px;
  background-color: #8f8f8f;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  left: -4px;
  top: 0;
}

.leg-right {
  /* border: 1px solid red; */
  background-color: #8f8f8f;
  --w: 7px;
  --h: 6px;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  right: -4px;
  top: 0px;
}

.foot-left-joint {
  bottom: 0;
  left: 16px;
}

.foot-right-joint {
  bottom: 0;
  right: 16px;
}

.foot-left {
  /* border: 1px solid red; */
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  left: -18px;
  
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAAXNSR0IArs4c6QAAABtJREFUGFdj7O/v/8+AAzCSLwkyEZvuwsJCRgDkfgwJJXxJvwAAAABJRU5ErkJggg==);
  --w: 7px;
  --h: 4px;
}

.foot-right {
  /* border: 1px solid red; */
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  right: -9px;

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAAXNSR0IArs4c6QAAABtJREFUGFdj7O/v/8+AAzCSLwkyEZvuwsJCRgDkfgwJJXxJvwAAAABJRU5ErkJggg==);
  --w: 7px;
  --h: 4px;
}

.eyes {
  top: 24px;
  width: 100%;
  height: 32px;
  /* border: 1px solid red; */
  z-index: -2;
  background-color: #fff;
}

.eye-left,
.eye-right {
  overflow: hidden;
  /* border: 1px solid red; */
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));

  --w: 6px;
  --h: 8px;
}

.eye-left {
  left: 12px;
}

.eye-right {
  right: 12px;
}

.eye-left .pupil,
.eye-right .pupil {
  width: 100%;
  height: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAICAYAAADaxo44AAAAAXNSR0IArs4c6QAAACtJREFUGFdjZIACjukL/4OYPzLjGUE0mIAJwhSBJBnRBWGS1JTAaTku5wIABxwZBa63KYMAAAAASUVORK5CYII=);
}

.pupil {
  transform: translate(6px, 6px);
}

.mouth-joint {
  bottom: 16px;
  left: 60px;
}

.mouth {
  /* border: 1px solid red; */
  width: 60px;
  height: 20px;
  left: -30px;
  top: -16px;
  
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAFCAYAAACaTbYsAAAAAXNSR0IArs4c6QAAACdJREFUKFNjZKAAMKLp/Q/lo4uDhDHksClCVohsNoZaXJqJ8gxFmgFPvgMGKWSXsQAAAABJRU5ErkJggg==);
  --w: 15px;
  --h: 5px;
}


.sign {
  position: absolute;
  color: #9e9e9e;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: #9e9e9e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.indicator {
  position: fixed;
  top: 10px;
  left: 10px;
  color: #9e9e9e;
}

.buttons {
  position: absolute;
  top: 50px;
  width: 100%;
}

.buttons button {
  margin: 8px;
}