* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

body {
  background-color: rgb(63, 60, 73);
  /* font-family: Courier, monospace; */
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

/* change colour with hue rotate */
.bot {
  /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAQCAYAAABQrvyxAAAAAXNSR0IArs4c6QAAAH5JREFUSEtjZBjigHGIu59hKHngP1Jgw92N7gFkRfgihxiP4zOLavqp7QFKA4Bk/aMeQEtnJIcgpfpHY4DSEKRU/2gMUBqClOofSjEAciuokEBxM7YKBUMRUijhkwMpw1pb0lI/tT0A8wSumpZQAJCsf6h5AKN5Q0ybZFA3WAElEy4RpESwowAAAABJRU5ErkJggg==); */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAAQCAYAAADpunr5AAAAAXNSR0IArs4c6QAAARdJREFUWEftl+sOwyAIhfX9H7qLycycAc5xQNc29mfLRc8HYmvZz2kKHKUcc7J6WvabJ1LEW9Lv1gDGxddSIjYeFoOFAwFIBlLhMgJYsbL8NSEYgZCN9R35dg3TAXgBZvg32IxAyGYDGFpR66Crd4BymnxeZ1TgyhGWkT+qA6w7BOoey/drEGUI8G8ALf+vM4fx817uHgXAGnajUEjYuRCRvQfCowB4O1gDKB1jFpQVgBvAW3V0bV4RVbOV3t8GQK/C1cpjB6QHAOq8vmYIoBVDM7KueawAkp0Vu+fux4DXXxq+aG/WnLA64DIAvAAj/K0YHgDjfJiLgz2e0jsgQkDUJcyNQ4vBxGZs5jWwAOCPGLO5bROrwAvo3toHrg0C/AAAAABJRU5ErkJggg==);
  width: calc(96px * 2);
  height: calc(16px * 2);
  image-rendering: pixelated;
  background-repeat: no-repeat !important;
  background-size: calc(96px * 2) calc(16px * 2) !important; 
}

.bot_wrapper > div {
  filter: brightness(0);
  transition: filter 0.2s;
}

.bot_wrapper.hunter > div {
  filter: hue-rotate(155deg) brightness(10); /* cyan */
}

.bot_wrapper.flee > div {
  filter: hue-rotate(5deg) brightness(20); /* red */
}

.bot_wrapper.stop > div {
  transition: transform 1s;
  transform: rotate(90deg);
}

.bot_wrapper.hunter::after {
  color: black;
}

.bot_wrapper::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: attr(time);
  z-index: 1;
  color: white;
  text-align: center;
  font-size: 10px;
  line-height: calc(16px * 2);
  width: calc(16px * 2);
  height: calc(16px * 2);
}

/* .bot_wrapper::before {
  position: absolute;
  content: attr(index);
  z-index: 2;
  color: hotpink;
} */

.bot_wrapper {
  position: absolute;
  width: calc(16px * 2);
  height: calc(16px * 2);
  overflow: hidden;
  /* background-color: hotpink; */
  transition: 1s ease;
}

.flip { 
  transform: scale(-1 , 1);
}

.sign {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

.fade {
  animation: fade_away 0.5s forwards;
}

@keyframes fade_away {
  0% {opacity: 1}
  100% {opacity: 0}
}

.added {
  position: absolute;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hotpink;
  font-size: 14px;
  transition: 1s;
  animation: slow_fade 1s forwards;
}

@keyframes slow_fade {
  0% {opacity: 1}
  90% {opacity: 1}
  100% {opacity: 0}
}

.indicator {
  position: absolute;
  top: 20px;
  right: 20px;
  /* border: 1px solid white; */
  /* width: 100px; */
  height: 20px;
  color: white;
}

.log {
  position: absolute;
  padding: 10px;
  bottom: 0px;
  height: 100px;
  width: 100%;
  color: white;
  font-size: 10px;
  z-index: 9999;
}

.log > p {
  display: block;
  animation: fade_up forwards 1s;
}

@keyframes fade_up {
  0% { 
    opacity: 0;
    transform: translateY(20px); 
  }
  10% { 
    opacity: 1;
    transform: translateY(20px); 
  }
  95% { 
    opacity: 1; 
    transform: translateY(0);
  }
  100% { 
    opacity: 0;
    transform: translateY(-10px); 
  }
}