* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* --bot_bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAAQCAYAAADpunr5AAAAAXNSR0IArs4c6QAAARZJREFUWEftl+sOwyAIhef7P7SLyUyYQc5xQFcb+7PloucDseV1nssUqLXWMVm5LPvmiVTxSlnSb2sAcvElYuOBMVg4EIBmoBUuI4AVK8t/JgQjELKxviPfrmE6AC/ADP8GmxEI2RwAohVnHXT3DlBPE/kyowJXjrCM/FEdYN0hUPdYvl9TPEOAfwNo+X+dOYyf93L3KADWsJNCIWHHQkT2HgiPAuDt4BlA7RizoKwAPAA+qqNr84qoM1vt/TYAehWuVh47ID0AUOf1NUMArRiakXXNYwXQ7KzYPXc/Brz+2vBFe7PmhNUBtwHgBRjhb8XwAJDzYSwO9nhK74AIAVGXMDeOWQwmNmMzroEFAH/EmM0dm1gF3u0ktAwRXV8NAAAAAElFTkSuQmCC); */
  /* --bot_bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAAQCAYAAADpunr5AAAAAXNSR0IArs4c6QAAAUFJREFUWEftmFkSwiAQROH+h8YiJTGSnulmScrE+KmzQL9ZKGN4PqcpkFJKdbJ4WvaLJ4Lixdik36UBbA8fZ1x8YowGOH4HoECocBUBvFhH+VtCKAIJNjvxQghLBwi+RcZjAYwCJNC2tQBb3xHCFG9VBs3n7y7xYtD47zx0B6BAsAnQl9WY8KY+FZBMCGv2WkIoAjGbGQB2mtQXGQKQu1HctS0CygVg5M+5mLjLJAGJ1CXb7fsPALKuipDdIopFB83uBsBcdtXtGZAaBrPvZnA3AKMj0AKIxpgHRQb4APjUrgdvFoAdmCsBKCK0Vp4620cAsM4rZ6YAymvAe6WoAiC7fICz/NHy9fKzseH9/jMARgHO8PdijADY7gc2OdRnNvwziR2SvQiO9FdfG9YZWAeyArDys+4xz83EVC/82HUq8AI7k6wGwN2ISAAAAABJRU5ErkJggg==); */
  /* --bot_bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAAQCAYAAADpunr5AAAAAXNSR0IArs4c6QAAATBJREFUWEftllESwyAIROv9D23HTJ1SRXYJ2qQd8ytg2AdIeuzvmwrk9rJk3Z5zPhxSSqbdKMbV/pOV7cQr0jjvOAfgLITJAOTPhxOfIZ6IwcKBALRAGmRGACvWKv+REIxAyMY6R75Vw+UAogBX+BfYjEDIZgMQrTjqoLt3QDdN2kRWVKBnhK24f1YHmPuKcsiM2e4VXyHA1QCOHYLYVtAIIkL4Tf6tA4aPXSMNAtLCQPZ+5V8e/wYg2sEjgNoYs6DQADeAd+2itZkWVdm6qs5djF8CUKvQW3nsbI8AQJ1HAyj1UIJZax4rgGZnxa5315qM+muPL8pNznJUnPL8NgCiAGf4WzEiAOT74IEjocIRNEMAlCTaKFCXMBvHKAYTm7Fp/8HzPnz4IjGYZLdNQIEnYJiFDMtVD2YAAAAASUVORK5CYII=);
  */
  --bot_bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAAQCAYAAADpunr5AAAAAXNSR0IArs4c6QAAARlJREFUWEftmEsSxCAIRPX+h3bKhROCSuNALM2YrYDaj4+VGM43U4HEN4szd998r0q8EMKoflsDoIc3X9xDPBJDCwcC+BqkdLeN8XZnKEBiASb594TQCIRspHXkW4r/cQBWgG7+pN3lZNEIhGzmAgD9ulcBrUO2Qs30XwlApQUXYkUBrQC9AEg5iaqn6/sPAPLl4cxStin3h9zbAHSHHVMOAeEZjex/BvM2ANYW2gPYamMSFDXAA+DKXQmeF4AKzE4AigijmacdkBYAqPLKmSGAnA/ZSHomagVo2Umxy94lJ63+reGL7kZ7OUpOur4MACtAD38phgUAnQ8jcCjUxyvAQ0BUJZoXRy+GJrbGhp9BPXTP31ANvok2H+KPfwze2uaHAAAAAElFTkSuQmCC);
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

body {
  background-color: rgb(63, 60, 73);
  /* font-family: Courier, monospace; */
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

/* change colour with hue rotate */
.bot {
  /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAAQCAYAAADpunr5AAAAAXNSR0IArs4c6QAAARdJREFUWEftl+sOwyAIhfX9H7qLycycAc5xQNc29mfLRc8HYmvZz2kKHKUcc7J6WvabJ1LEW9Lv1gDGxddSIjYeFoOFAwFIBlLhMgJYsbL8NSEYgZCN9R35dg3TAXgBZvg32IxAyGYDGFpR66Crd4BymnxeZ1TgyhGWkT+qA6w7BOoey/drEGUI8G8ALf+vM4fx817uHgXAGnajUEjYuRCRvQfCowB4O1gDKB1jFpQVgBvAW3V0bV4RVbOV3t8GQK/C1cpjB6QHAOq8vmYIoBVDM7KueawAkp0Vu+fux4DXXxq+aG/WnLA64DIAvAAj/K0YHgDjfJiLgz2e0jsgQkDUJcyNQ4vBxGZs5jWwAOCPGLO5bROrwAvo3toHrg0C/AAAAABJRU5ErkJggg==); */
  background: var(--bot_bg);
  width: calc(96px * 2);
  height: calc(16px * 2);
  image-rendering: pixelated;
  background-repeat: no-repeat !important;
  background-size: calc(96px * 2) calc(16px * 2) !important; 
  background-blend-mode: multiply;
  mask-image: var(--bot_bg);
  -webkit-mask-image: var(--bot_bg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  background-color: black;
  transition: background-color 1s;
}

.bot_wrapper > div {
  /* filter: brightness(0); */
  transition: filter 0.2s;
}

.bot_wrapper.hunter .bot {
  background-color: aquamarine;
}

.bot_wrapper.flee .bot {
  background-color: rgb(230, 86, 42);
}

.bot_wrapper.stop > div {
  transition: transform 1s;
  transform: rotate(90deg);
}

/* .bot_wrapper.hunter::after {
  color: black;
} */

.bot_wrapper::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: attr(time);
  z-index: 1;
  color: white;
  text-align: center;
  font-size: 10px;
  line-height: calc(16px * 2);
  width: calc(16px * 2);
  height: calc(16px * 2);
}

/* .bot_wrapper::before {
  position: absolute;
  content: attr(index);
  z-index: 2;
  color: hotpink;
} */

.bot_wrapper {
  position: absolute;
  width: calc(16px * 2);
  height: calc(16px * 2);
  overflow: hidden;
  /* background-color: hotpink; */
  transition: 1s ease;
}

.flip { 
  transform: scale(-1 , 1);
}

.sign {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  text-transform: none;
}

a {
  color: white;
  text-decoration: none;
  text-transform: none;
}

a:hover { text-decoration: underline; }

.fade {
  animation: fade_away 1s forwards;
}

@keyframes fade_away {
  0% {opacity: 1}
  100% {opacity: 0}
}

.added {
  position: absolute;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aquamarine;
  font-size: 14px;
  transition: 1s;
  animation: slow_fade 1s forwards;
}

@keyframes slow_fade {
  0% {opacity: 1}
  90% {opacity: 1}
  100% {opacity: 0}
}

.indicator {
  position: absolute;
  top: 20px;
  right: 20px;
  /* border: 1px solid white; */
  /* width: 100px; */
  height: 20px;
  color: white;
}

.log {
  position: absolute;
  padding: 0px 10px;
  bottom: 10px;
  width: 100%;
  height: 100px;
  color: white;
  font-size: 10px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  transition: 0.8s;
  /* overflow: hidden; */
}

.log > p {
  animation: fade_up forwards 3s;
}


@keyframes fade_up {
  0% { 
    opacity: 1;
    transform: translateY(20px);
  }
  30% { 
    opacity: 0.8;
    transform: translateY(0); 
  }
  66% { 
    opacity: 0.8;
  }
  80% {
    opacity: 0;
    margin-top: 0px;
  }
  100% {
    opacity: 0;
    margin-top: -11px;
  }
}
