* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}


p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

body {
  background-color: rgb(194, 194, 194);
  /* font-family: Courier, monospace; */
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid hotpink; */
  overflow: hidden;
}

.circle_wrapper {
  position: absolute;
  border: 1px solid black;
  width: 600px;
  height: 600px;
  max-width: 100%;
  /* bottom: 0px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .circle_wrapper::after {
  position: absolute;
  content: '';
  height: 300px;
  width: 600px;
  bottom: 0px;
  background-color: rgba(255, 105, 180, 0.323);
} */

.circle {
  border-radius: 200px;
  width: 400px;
  height: 400px;
  background-color: white;
  /* transition: 0.1s; */
  transform-origin: center;
}

.circle::after {
  content: '';
  /* background-color: rgb(0, 0, 0); */
  width: 200px;
  height: 400px;
  position: absolute; 
  right: 0px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAAAgCAYAAABXTzdxAAAAAXNSR0IArs4c6QAAAQ5JREFUeF7t3MsKg0AQBMD1/z9a8SCI+ACXvjSVa8jAVG+jEpJljLEOLwIEbgUWBXEyCDwLKIjTQeBFQEEcDwIfBTne9iziqBC4COxXEAVxLAg8CCiIo0HALZYzQOCfwPkK4lbrn6FPFQsoSHG4VpsXUJB5QxOKBRSkOFyrzQvcFcSzyLyrCSUCClISpDUyAgqScTW1REBBSoK0RkZAQTKuppYIKEhJkNbICChIxtXUEgEFKQnSGhkBXxRmXE0tEVCQkiCtkRFQkIyrqSUCClISpDUyAn5RmHE1tURAQUqCtEZGQEEyrqaWCChISZDWyAj447iMq6klAgpSEqQ1MgIKknE1tURAQUqCtEZGYAPWziABxVLSDwAAAABJRU5ErkJggg==);
  background-size: 200px 32px;
  background-repeat: repeat-y;
}

/* canvas {
  background-color: white;
} */

.sign {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  text-transform: none;
}

.indicator {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: black;
  font-size: 30px;
  opacity: 0.8;
  z-index: 999;
}

a {
  color: black;
  text-decoration: none;
  text-transform: none;
}

a:hover { text-decoration: underline; }

.element {
  position: absolute;
  transform-origin: bottom center;
  /* width: 50px;
  height: 60px; */
  color: hotpink;
  transition: 1s;
  display: flex;
  flex-direction: column;
}

.element.change {
  color: black;
}

.bear {
  position: absolute;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHAAAAAQCAYAAADOFPsRAAAAAXNSR0IArs4c6QAAAZpJREFUWEftV9kSwyAIrP//0elo1SLhkrQeM/YpTbLhWFwgvM5v6wwE4P0FruN9+D8+wvcgNj7fHY+J7I1/Cr4h8Lo+PocQXuW6eAXvxetMKHT62hxPxtIR/xQ8SaCmKRqBm+KL27UQuTiY+KfgbzIYT5F0Ai3OP8VLBWCx78RXydSUhFCfpoWMxIsSmpOV5NQjoV78KieYKsTSYqQWQskujMmqYBb7R0K/mVWlExJjIbBTgl32RQLhCfJWUNKWPBytmACU5CSj2F9MhCDjw/FND7SWQCjM4ui1yPP7q+IzeXh9uB0kqQ9bcvhL/O0EFt3FPQ/2QUnDn+K1/tfTgzolrJkiqTgMKlRrYBR+yT1QI9E6BDgIbHZZSU41H7j2Y20jVvwZYlqWLQqYEBqBo4rwEOgg8J+7qGWMgPbJRR5UWArPOEU2MwCec+ByyyzCLH6g/dscg6VMIU+NwYOH8WM8JjA5UIZFUJy4N1C4OgQQeO67lNJMt88UG+UXp5RkDExeLDlg8y8RgT/cE4DWAjzPR9ofacuaC9KnN5mCKy+XpFlaAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-size: 224px 32px;
  image-rendering: pixelated;
  top: 0px;
  left: 0px;
  width: 224px;
  height: 32px;
  z-index: 1;
  transform-origin: center bottom;
}

.bear_wrapper {
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  transform-origin: center bottom;
}

.right {
  transform: scale(-1, 1);
}

.color-0 {
  background-color: navy !important;
}

.color-1 {
  background-color: green !important;
}

.color-2 {
  background-color: yellow !important;
}

.color-3 {
  background-color: rgb(0, 255, 191) !important;
}

.tree {
  /* background-color: green; */
  width: 48px;
  height: 60px;
  background-size: 48px 60px !important;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAA8CAYAAAAgwDn8AAAAAXNSR0IArs4c6QAAAT1JREFUaEPtl1kSwzAIQ5P7H7qdpss0bmPAAtvy0F8vlfQIIftG/tvJ9W+RBm5FOCH/FXLpSzitgVJ4WaWuobledpE8jQEp+RAjngRoDViFu5LwIEBrABXuQgIhQGvAWzhEooUArYFo4U0kLARoDfQWbiKhIUBrYLRwFYkaAVoDswmvkvhHgN6A9J0fbVDTWD4aTZuVX1xSANK6SZNlc3Tyqq7TtKlT8k3aNAR6J28ysrSB0cmrSOSbWOqJAeun0Jd6E89W8xK8I/xvAvQGJMfv9Wijmtaes5CWFrJPRUK1KWchhMO50fzcpCEQ/dBK9qoalxwlerVLKfnmYW50yUjGchaSEuq1vs4sNHvNV4k+MNAbQGsWDUDzMr3UCB12mpEgDdDhNPBMAAoROpwEkgBYf1lCWUJZQkcNDB0l7gg6OjuwyJttAAAAAElFTkSuQmCC);
  background-color: transparent !important;
}

.tree_white {
  /* background-color: green; */
  width: 48px;
  height: 60px;
  background-size: 48px 60px !important;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAA8CAYAAAAgwDn8AAAAAXNSR0IArs4c6QAAAWZJREFUaEPtWu0OgyAMlPd/aJcZNYggLb1KznR/Zew+aHtsSwv5K5HjXzwJrIU4Lp/lsukOnJbABnxdr/hTOrWCigbdLFeekUBV+bJJoJ1AOkBLQATcywmEA7QEhoCjnbA4QEsAAhzlxIgDtARcgFud0DhAS+AV4KNOSBygJTAFuNaJJwdoCZQXkeqts4zL1qtpllJ7W11ErzlAT6CngMvRGr0nSLpQSYiWgAtwbde5re+dl+w5LYFXgI86IakBWgJTgGud+O4kRk9aRbOoLm3NieYkZiQgihCHPGiCiix0QNjEzx2gJyA9pi7dKbKQQH4X5bV9P7KQwCnIEmlNRBaCyP2wSc+JyELeDpxjt/Er5/eyEDrjoB0qa+KWhRgJqEJcS1Et8YH0Wb8n/P8VgLB5JgEr/qGM1OvvUlCSSdzbKwj0FHp6Hg4cTcBQxCYRTW/erY0aiBqwKBA1cP1uSq1lFPHsI/QDlnXiO2EU734AAAAASUVORK5CYII=);
  background-color: transparent !important;
}

.mountain {
  /* background-color: brown; */
  width: 80px;
  height: 30px;
}

.line {
  width: 1px;
  height: 100px;
  border: solid hotpink;
  border-right-width: 1px;
}


.touch_control {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 150px;
  height: 150px;
  background-color: #4a4a4aba;
  border-radius: 50%;
  transition: 0.3s;
}

.touch_circle {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  /* background-color: rgba(255, 255, 255, 0.7); */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAI1JREFUWEftV0EOwCAIW///aBYOJG6TJQIbmOBZSqlYEURER+JCE/AoAAB8ei4Ma7Akl/Yx41gC78k9JLoJW4FWoKYCfM8t/vD2pmmYj0QR9jojouFeCIwO94UCM8esRYAZph6BSJTahH9PZ+HXbbWAJtAK7KlAiaE0dSwfHTPtY7JqONr+PZswqnrGOQHGKseh+5Ps2AAAAABJRU5ErkJggg==);
  opacity: 0.7;
  image-rendering: pixelated;
  background-repeat: no-repeat !important;
  background-size: 96px !important; 
  transform: translate(27px, 27px);
  cursor: grab;
}

.element {
  /* image-rendering: pixelated; */
  background-repeat: no-repeat !important;
}