* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

body {
  background-color: rgb(231, 251, 253);
  font-family: sans-serif;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.penguin_wrapper {
  position: absolute;
  width: 96px;
  height: 96px;
  overflow: hidden;
  transition: 0.5s;
  /* mix-blend-mode: multiply; */
  /* border: yellow 1px solid; */
}

.penguin_wrapper svg { 
  fill: navy; 
  display: block;
}

.penguin_wrapper.stop { transition: 0 !important; }

.penguin_inner_wrapper {
  height: 100%;
  width: 100%;
  transition: 0;
}

.facing_upleft,
.facing_left,
.facing_downleft { 
  transform: scale(-1 , 1);
}

.penguin_sprite {
  position: absolute;
  height: calc(5 * 96px);
  width: calc(5 * 96px);
  pointer-events: none;
}

.penguin_sprite img {
  height: 100%;
  width: 100%;
  display: block;
}


.hit_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  /* border:blue 1px solid; */
}

.hit_area {
  height: 50px;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  /* border: hotpink 1px solid; */
}

.penguin_wrapper.stop .hit_area {
  margin-top: 10px;
  height: 40px;
}

/* need to flip because the parent divs are flipped */
.facing_upleft .hit_area,
.facing_left .hit_area,
.facing_downleft .hit_area {
  transform: scale(-1 , 1);
}

.hit_corner {
  height: 50%;
  width: 50%;
  opacity: 0.1;
}

.sign {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

.foot_print {
  height: 30px;
  width: 30px;
  position: absolute;
  /* border: 1px solid hotpink; */
  z-index: -10;
  image-rendering: pixelated;
  background-size: 30px; 
  opacity: 0.3;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAGdJREFUSEtjZBggwDhA9jKMWky3kB8N6tGgplkI4E1cs1/+/Q+zOVWcmaoJEadhyJbSwvJRi+GJaTSoQUFBzZQ9mrhQSqoBKUBoVlZCDaZqMUiKY0ctJiW0KFI7GtQUBR8pmkdeUAMAZuYoHzQogkUAAAAASUVORK5CYII=);
  animation: forwards fade 10s;
}

.foot_print.right {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAGVJREFUSEtjZBggwDhA9jKMWky3kB8N6tGgplkIUD1xzX759z/MtanizDjNp6rFyJYSsnzUYooS02hQg4IPV8oeTVwUJS6Q5gEpQEhxNVXjeNRifCEwGtSkpA+K1I4GNUXBR4pmAEZuKB/FEl0QAAAAAElFTkSuQmCC);
}

@keyframes fade {
  0% {opacity: 0.3}
  50% {opacity: 0.3}
  100% {opacity: 0}
}

/* .foot_print {
  height: 10px;
  width: 40px;
  position: absolute;
  background-color: hotpink;
  z-index: -10;
  image-rendering: pixelated;
  background-size: 40px 10px; 
  opacity: 0.1;
} */

/* .left_print.up,
.left_print.down {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAKCAYAAADGmhxQAAAAAXNSR0IArs4c6QAAAD5JREFUOE9jZBjkgJFE9/1HUk+qXhKtgignxRJkx8EsI0X/qANHQxBbGiAlDY2GIKUhCNI/qIsZsooJSjUBAG3XCAugcnGoAAAAAElFTkSuQmCC);
}

.right_print.up,
.right_print.down {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAKCAYAAADGmhxQAAAAAXNSR0IArs4c6QAAAEBJREFUOE9jZBjkgJGO7vuPZBfR9hKtkEKPIDsOZhRRdhOliELHgbSPOpDSQBwNwWEfgugZhejMSbRCSoOQXP0AjbkICwlBdCkAAAAASUVORK5CYII=);
}

.left_print.right,
.left_print.left {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAKCAYAAADGmhxQAAAAAXNSR0IArs4c6QAAAD9JREFUOE9jZCAf/MehlZF8IzF1kmsYLsfBbCDXXAwXkmvQqAOpERWDOg1SMx/gNYvcNDjqQGqkQbqE4qCPYgAxuQUL8AFj8AAAAABJRU5ErkJggg==);
}

.right_print.right,
.right_print.left {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAKCAYAAADGmhxQAAAAAXNSR0IArs4c6QAAADtJREFUOE9jZBjkgHGQu49h1IGUxtCIDMH/OEKNrMAgSxOeaMPlOJgWku0jWQOBNDXqQEozHUg/VdMgAP+6BQs6AWWxAAAAAElFTkSuQmCC);
}


.foot_print.left {
  transform: scale(-1 , 1);
} 

.upleft.right_print,
.upright.right_print,
.downleft.right_print,
.downright.right_print {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAKCAYAAADGmhxQAAAAAXNSR0IArs4c6QAAAFRJREFUOE9jZBjkgJEI9/1HUkOMeiKMJF4JIQuRHQczlZAe4m0nQiU+y7A5DmTkoHAgLscNegfSNfTwhcaApz1iEvyA5l5iHEhEHqO9ErqnKVK9BADPzAcLMUCLVQAAAABJRU5ErkJggg==);
}

.upleft.left_print,
.upright.left_print,
.downleft.left_print,
.downright.left_print {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAKCAYAAADGmhxQAAAAAXNSR0IArs4c6QAAAEpJREFUOE9jZBjkgHGA3fcfyX6sbhlIByI7DuZODPcMlAOxOQ7kyEHhQFyOG/QOHDRpkKi0hzNR0ilXE8y9A+1AosNhoHIx0Q4EAEuuBwsu+9frAAAAAElFTkSuQmCC);
}

.downright.right_print,
.downright.left_print,
.upleft.right_print,
.upleft.left_print {
  transform: scale(-1 , 1);
} */

/* .upleft {
  border: 1px solid yellow;
}

.upright {
  border: 1px solid rgb(0, 255, 179);
}

.downleft {
  border: 1px solid rgb(224, 152, 123);
}

.downright {
  border: 1px solid rgb(84, 51, 85);
} */

/* .indicator {
  position: absolute;
  padding: 0 5px;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  pointer-events: none;
}

.indicator p {
  font-size: 10px;
  margin: 5px;
} */

.indicator {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 300px;
  color: hotpink;
  height: 20px;
  border: 1px solid hotpink;
  z-index: 200;
}